html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
}

.button{
  cursor: pointer;
}

.button.round {
  border-radius: 50%;
  border-width: 0;
  color: #fff;
  font-size: 50px;
  height: 250px;
  width: 250px;
}
.app-row{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Page: Home */
#app-home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#app-home h1 {
  margin: 1em;
}

#app-home .app-home-nav {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  color: #333;
  border: 1px solid;
}

#app-home .app-home-nav:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* Page: Client */
#app-client .button.round{
  margin-top: 50px;
}

/* Page: Dashboard */
#app-dashboard{
  padding: 10px 0;
  width: 80%;
  max-width: 1500px;
  min-width: 300px;
  margin: auto;
  height: calc(100% - 20px);
  text-align: center;
}
#app-dashboard-chart{
  margin: auto;
  margin-top: 50px;
  width: fit-content;
}
#app-dashboard #app-dashboard-chart .recharts-tooltip-label{
  display: none;
}
#app-dashboard .dashboard-label{
  border-radius: 5%;
  font-size: 50px;
  margin-top: 25px;
  padding: 25px;
  text-align: center;
  width: 25%;
  color: #fff;
}